@import url('https://fonts.googleapis.com/css?family=Shrikhand');


body{
  background:#333333;
  color:white;
  margin:auto;
  padding:30px;
}

#codepen{
  text-align:center;
  margin:20px;
  font-size:1.5em;
  font-family: monospace;
  color:white;
}
.clock{

}
.title{
  text-align:center;
  font-size:xx-large;
  font-family: 'Shrikhand', cursive;
  color:#0dad4b;
  text-shadow: 0 0.1em 0.2em #008c8d;
}

.time, .break{

  width:66px;
  height:2em;
  font-size:x-large;
  margin:auto;
  padding:10px;
  text-align:center;
  border:0px;
  background-color:#333333;
}

.time:focus, .break:focus{
  outline:none;
}
.controls{
  margin:auto;
  text-align:center;
}

.display{
  margin:auto;
  text-align:center;
  width:25%;
}

.selectors{

  text-align:center;
}
.buttons{
  padding-top:.5em;
  text-align:center;
  color:black;
}

.btn{
  background-color:#339966;
}

.breaktimer{
  color:red;
}
