


#main {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding: 10px;
  height: 300px;
  width:200px;
  margin: auto;
}

#text {
  font-family: ubuntu, sans-serif;
  color: #06a;
  z-index: 1;
  position: relative;
  top: -500px;
  padding: 10px;


}

#textbg {
  background: #fff;
  height: 550px;
  width: 600px;
  opacity: .9;
  position: relative;
  margin-top: -10px;
  margin-left: -10px;
}

#location {
  position: relative;
  margin-top: -10px;
}

p, h2 {
  text-align: center;
}

#temp{
  font-size:2em;
}
