body{
  background:#ccc;
}
#codepen{
  text-align:center;
  font-size:1.5em;
  font-family:monospace;
  margin:20px;
}
#app{
}
header{
  text-align:center;
  font-size:2.5em;
  font-family: monospace;
  color:#fff;
}
h5{
  font-size:.5em;
}
.container{
  display:flex;
  justify-content:center;
  align-items:stretch;
}

#textarea{
  margin:20px;
  padding:15px;
  flex-grow:.3;
}
#textarea:focus{

}

#markdown {
  margin:20px;
  flex-grow:.3;
  width:20%;

}
